@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-space-grotesk), system-ui, sans-serif;
  }
}

/* Custom styles */
.icon-hidden {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

a:hover .icon-hidden {
  opacity: 1;
}
