@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-space-grotesk), system-ui, sans-serif;
}
}

/* Custom styles */
.icon-hidden {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

a:hover .icon-hidden {
  opacity: 1;
}
